<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />

	<application
		android:name=".PixelXpert"
		android:enableOnBackInvokedCallback="true"
		android:forceQueryable="true"
		android:icon="@mipmap/ic_launcher"
		android:label="Pixel Xpert"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.PixelXpert">
		<activity
			android:name=".ui.activities.FakeSplashActivity"
			android:exported="true"
			android:label="@string/title_activity_settings"
			android:theme="@style/AppTheme.PixelXpert.SplashScreen" >
		</activity>
		<activity
			android:name=".ui.activities.SplashScreenActivity"
			android:exported="true"
			android:label="@string/title_activity_settings"
			android:theme="@style/AppTheme.PixelXpert" />

		<activity-alias
			android:name=".FakeSplashActivityAlternateIcon"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/ic_launcher_themed"
			android:label="@string/title_activity_settings"
			android:targetActivity=".ui.activities.FakeSplashActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name=".FakeSplashActivityNormalIcon"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/title_activity_settings"
			android:targetActivity=".ui.activities.FakeSplashActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
			</intent-filter>
		</activity-alias>

		<activity
			android:name=".ui.activities.SettingsActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.RUN" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name=".service.tileServices.VolumeTileService"
			android:exported="true"
			android:icon="@drawable/ic_volume"
			android:label="@string/volume_tile_title"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
		<service
			android:name=".service.tileServices.CaffeineTileService"
			android:exported="true"
			android:icon="@drawable/ic_qs_caffeine"
			android:label="@string/caffeine_tile_title"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
		<service
			android:name=".service.tileServices.AppProfileSwitchTileService"
			android:exported="true"
			android:icon="@drawable/ic_app_switch"
			android:label="@string/app_switch_tile_title"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
		<service
			android:name=".service.tileServices.SleepOnSurfaceTileService"
			android:exported="true"
			android:icon="@drawable/ic_sleep_surface_off"
			android:label="@string/sleep_on_flat_screen_tile_title"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
				android:value="true" />

			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>

		<service
			android:name=".service.PixelXpertProxy"
			android:exported="true"
			tools:ignore="ExportedService" />

		<receiver
			android:name=".receivers.BootReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receivers.NotificationActionHandler"
			android:exported="true"
            tools:ignore="ExportedReceiver" />

		<provider
			android:name=".utils.RemotePrefProvider"
			android:authorities="sh.siava.pixelxpert"
			android:directBootAware="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />

		<meta-data
			android:name="com.google.mlkit.vision.DEPENDENCIES"
			android:value="subject_segment" />
    </application>

</manifest>